<form action="/new" method="post"> 
  <label for="cname">CNAME: <input id="cname" name="cname" type="text" ></label>
  <label for="target">Target: <input id="target" name="target" type="text"></label>
  <button type="submit">Add this redirect</button>
</form>