<h1><%= @title %></h1>
<p>The CNAME <code><%= @host_name %></code> does not have a corresponding redirect.</p>
<p><a href="mailto:urwebteam@ucsc.edu">Contact the UR web team</a> to request a new redirect.</p>